---
import "../../css/style.scss";
import Layout from '../../layouts/Layout.astro';
import UnderSection from '../../components/UnderSection.astro';
import LogoFlow from "../../components/LogoFlow.astro";
import TitleBar from "../../components/TitleBar.astro";
---

<Layout title="CI・ロゴ制作">
  <TitleBar enTitle="LOGOMARK" jaTitle="CI・ロゴ制作" />

    <main>
        <UnderSection secTitle="会社の姿勢や考え方を分かりやすくビジュアル化します">
            <p>自社への理解を深め信頼を高めるには、社員全員が会社の掲げる企業理念のもと、共通の目標に向かって進んでいくことが重要です。そしてこのことが、消費者からも「この会社は信頼のおける会社だ」という、いわゆる“ブランド”を構築することにもつながっていきます。
            ロゴマークはこの企業理念をビジュアル化することで、企業の考え方や姿勢を社内外にわかりやすく発信・浸透させ、ブランドという価値観としてココロの中に自然に育んでいく最も効果的な手法です。</p>
        </UnderSection>
        <UnderSection secTitle="ロゴマーク制作フロー">
            <LogoFlow>
                
            </LogoFlow>
        </UnderSection>
    </main>
</Layout>