---
import TitleBar from "../../components/TitleBar.astro";
import Layout from "../../layouts/Layout.astro";


---

<Layout title="プライバシーポリシー">
  <TitleBar enTitle="PRIVACY POLICY" jaTitle="プライバシーポリシー" />

    <main>
        <div class="privacyPoricy">
            <h3>個人情報保護方針</h3>
            <div class="textbox">Atelier Bits株式会社（以下、当社といいます）では、WEB制作事業、システム開発事業、プロダクトの販売や技術サポート業務、コンサルテーション業務において、お客様からお預かりした個人情報を適切に保護することを企業の重要な社会的使命と認識しております。<br />
              このため、個人情報保護は重要な使命と認識し、個人情報保護に関する関係法令を遵守し、役員･従業員および関係会社・情報システム全てにわたり個人情報保護の取り組みを進めてまいります。<br />
            </div>
            <h3>個人情報の利用目的</h3>
            <div class="textbox">当社はその業務の性質上、お客様の個人情報を閲覧・取得する機会が多くあります。 <br />
              以下に掲げる利用目的でのみこれらを取得し・利用します。 <br />
              <ol>
                <li>お客様よりご依頼いただいた情報システム構築・運用指導及びサポート・メンテナンスにおける必要上の利用。</li>
                <li>その他、お客様との契約による業務上必要となる場合。</li>
              </ol>
            </div>
            <h3>外部委託先への情報開示について</h3>
            <div class="textbox">当社では業務の一部を外部委託先に委託することがあります。<br />
              その場合でも関連諸法令と当社のプライバシーポリシーに則って個人情報が扱われるよう、適切に契約・監督いたします。<br />
            </div>
            <h3>個人情報の第三者提供について</h3>
            <div class="textbox">当社は、次の場合を除き個人情報を第三者に提供することはいたしません。<br />
              <ol>
                <li>ご本人の同意がある場合</li>
                <li>関係法令・ガイドライン等にに基づいて許可あるいは要求された場合 </li>
                <li>人の生命、身体又は財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難であるとき</li>
              </ol>
            </div>
            <h3>開示等の求めに応じる手続き等</h3>
            <div class="textbox">当社は、個人情報を正確かつ最新の状態で管理するよう努めます。<br />
              また、お客さまから保有している個人情報の開示を求められたときは所定の手続に基づき速やかに開示します。<br />
              その結果、万一誤った情報があれば速やかに訂正又は削除いたします。<br />
            </div>
            <h3 class="h3">個人情報に関するお問い合わせ窓口</h3>
            <div class="textbox">個人情報保護方針に関するお問合せにつきましては、下記窓口で受付けております。
    
              <br />
              〒330-0063
              埼玉県さいたま市浦和区高砂3-6-12　グローバル県庁前312号室<br />
              Atelier Bits株式会社　個人情報事務担当宛<br />
              TEL:048-834-8765 / FAX:048-834-8766
    
            </div>
          </div>
    </main>
</Layout>