---
import Layout from "../../../layouts/Layout.astro";


---

<Layout title="お問合わせありがとうございました">  
    <main>
        <div class="thxText">
            <p>お問合わせありがとうございました。</p>
            <p>担当者より2~4営業日を目途にご返信を差し上げますので、よろしくお願いいたします。</p>
        </div>
        <div class="thxBtn"><a href="/">TOPへ戻る</a></div>
    </main>
</Layout>