---
import "../css/style.scss";
import Layout from '../layouts/Layout.astro';
import TopCard from '../components/TopCard.astro';
import TopSection from '../components/TopSection.astro';
import TopPerformanceCard from "../components/TopPerformanceCard.astro";
import {Icon} from "astro-iconify"

---

<Layout title="AtelierBits株式会社-web制作会社">
	<img class="fv" src="fv.jpg" alt="topページファーストビュー">
	
	<main>
		<TopSection enTitle="SERVICE" title="事業内容">
			<TopCard />
		</TopSection>
		<TopSection enTitle="PERFORMANCE" title="制作実績">
			<TopPerformanceCard />
			<div class="andMore">
				<a href="./performance">もっと見る</a>
			</div>
		</TopSection>
		<TopSection enTitle="ADVANTAGE" title="弊社の強み">
			<div class="comment">
				<h3>業界に精通しているからこその伝達力があります</h3>
				<p>当社は、「中小運送・物流会社向けシステムインテグレーター」としての長年の経験を活かし、業界の知識に基づいたwebサイト制作を行っています。</p>
				<p>一般のweb制作会社に依頼した場合、企画の前に業界の用語や慣習・トレンドなどを事細かに解説しなければなりませんし、それを正しく理解しないまま制作してしまったばかりに、伝えたいことがが伝わらないサイトに仕上がってしまった...ということになりかねません。</p>
				<p>当社は、長年業界特化型のシステムインテグレーターとしての経験がありますから、そのような業界知識に通じておりますので、お客様の伝えたいことをしっかり表現できるwebサイトを制作いたします。</p>
			</div>
			<div class="coreSystem">
				<a href="https://atelier-bits.co.jp/jdean">
					<div class="system trs ">
						<p>物流業向け<br />基幹業務システム</p>
						<Icon name="mdi:checkbox-multiple-blank-outline" />
					</div>
				</a>
				<a href="https://atelier-bits.co.jp/ex/">
					<div class="system exterior">
						<p>エクステリア業向け<br />基幹業務システム</p>
						<Icon name="mdi:checkbox-multiple-blank-outline" />
					</div>
				</a>
			</div>
		</TopSection>
		
	</main>
</Layout>


