---
import TitleBar from "../../components/TitleBar.astro";
import "../../css/style.scss";
import Layout from '../../layouts/Layout.astro';
---
<Layout title="会社情報">
  <TitleBar enTitle="CORPORATE" jaTitle="会社概要" />

    <main>
            <div class="otherSec corporate">
                <h3>会社概要</h3>
                <div class="otherSecContent">
                    <p>私たちアトリエビッツは、WEB制作はもちろん、システムインテグレーターとしてITに関するあらゆるニーズにお応えし、ソリューションをご提供しています。
                    </p>
                    <p>WEBサイト制作、運用、システムの導入、ネットワーク環境設定・運用保守管理、インターネットセキュリティチェックなど、コンピューターに関する全てのことはお任せください。
                        トータルでITをサポートする“自信”と“実績”があります。
                        ヒューマンコミュニケーションとテクノロジーの“融和”を常に思考し続けております。
                    </p>
                    <table class="corpoTable">
                        <tbody>
                            <tr>
                                <th>会社名</th>
                                <td>Atelier Bits 株式会社（アトリエ ビッツ株式会社）<br>
                                    ※英字表記が正式名になります</td>
                            </tr>
                            <tr>
                                <th>所在地</th>
                                <td>〒330-0063<br>
                                    埼玉県 さいたま市浦和区高砂3-6-12 グローバル県庁前 312</td>
                            </tr>
                            <tr>
                                <th>連絡先</th>
                                <td>TEL：048-834-8765 / FAX：048-834-8766</td>
                            </tr>
                            <tr>
                                <th>代表者</th>
                                <td>石神 明美（いしがみ あきよし）</td>
                            </tr>
                            <tr>
                                <th>設立</th>
                                <td>2002年12月1日</td>
                            </tr>
                            <tr>
                                <th>事業内容</th>
                                <td>国内運送業を対象に、経営合理化に関するシステムの設計およびプログラムの作成
                                    Productの販売や技術サポート及びコンサルテーション業務などのサービス提供
                                    WEBサイトの構築</td>
                            </tr>
                            <tr>
                                <th>資本金</th>
                                <td>500万円</td>
                            </tr>
                            <tr>
                                <th>加盟</th>
                                <td>日本ローカルネットワーク協同組合連合会 関東地域本部<br>
                                    北関東物流効率化研究会<br>
                                    埼玉県中小企業振興公社<br>
                                    埼玉県中小企業家同友会<br>
                                    商工会議所</td>
                            </tr>
                            <tr>
                                <th>払込取扱金融機関</th>
                                <td>みずほ銀行 浦和支店</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="otherSec access">
                <h3>アクセス</h3>
                <div class="otherSecContent">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.680402341889!2d139.64888297626425!3d35.856839520306636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018c02b6ffbc07f%3A0x935e698120642616!2sAtelier%20Bits%20(%E6%A0%AA)!5e0!3m2!1sja!2sjp!4v1714107350101!5m2!1sja!2sjp" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

    </main>
</Layout>