---
const dtpCard =[
    {
        title:"会社案内、製品カタログ、パンフレットなど",
        content1:"会社案内・製品カタログは、単に情報を伝えるだけでなく、いかに企業の考えや商品の魅力を分かりやすく引き出せるかがポイントとなります。表紙のデザイン、ページ構成、製品・サービス内容の分かりやすさ等で最終的にユーザーに与える印象が変わります。",
        content2:"その為、弊社では特にヒアリングを大切にし、ターゲットや商品を消費者に対して、見やすく・分かりやすいカタチに仕上げます。",
        img:"/dtpCorp.jpg",
    },
    {
        title:"3つ折リーフレットなど",
        content1:"お店のレジ横などでよく見かける3つ折りなどのリーフレットは、封筒にも収まりとても使い勝手のよい販促ツールです。手軽に印刷できるペラ1枚のチラシやフライヤーも便利ですが、折リーフレットは「ページを開く」という動作を利用して、さまざまなアテンションを演出できます。",
        content2:"また持ち歩きや手渡しに便利ですし、多くの情報をページごとに整理して伝えられるというメリットもあります。",
        img:"/dtp3Leaf.jpg",
    },
    {
        title:"フライヤー、折り込みチラシなど",
        content1:"会社案内・製品カタログは、単に情報を伝えるだけでなく、いかに企業の考えや商品の魅力を分かりやすく引き出せるかがポイントとなります。表紙のデザイン、ページ構成、製品・サービス内容の分かりやすさ等で最終的にユーザーに与える印象が変わります。",
        content2:"その為、弊社では特にヒアリングを大切にし、ターゲットや商品を消費者に対して、見やすく・分かりやすいカタチに仕上げます。",
        img:"/dtpFlyer.jpg",
    },
    {
        title:"名刺、ショップカードなど",
        content1:"会社案内・製品カタログは、単に情報を伝えるだけでなく、いかに企業の考えや商品の魅力を分かりやすく引き出せるかがポイントとなります。",
        content2:"表紙のデザイン、ページ構成、製品・サービス内容の分かりやすさ等で最終的にユーザーに与える印象が変わります。その為、弊社では特にヒアリングを大切にし、ターゲットや商品を消費者に対して、見やすく・分かりやすいカタチに仕上げます。",
        img:"/dtpName.jpg",
    },
];
---

<div class="dtpCard">
    {dtpCard.map((item)=>
    <div class="dtpCardItem">
        <h3>{item.title}</h3>
        <p>{item.content1}</p>
        <p>{item.content2}</p>
        <img src={item.img} alt=""/>
    </div>
)}
</div>