---
import "../css/style.scss"
import Drawer from "./react/Drawer"
const header =[
    {
        href:"/web",
        label:"webサイト制作",
    },
    {
        href:"/logo",
        label:"CI・ロゴ制作",
    },
    {
        href:"/dtp",
        label:"印刷物制作",
    },
    {
        href:"/performance",
        label:"制作実績",
    },
    {
        href:"/corporate",
        label:"会社情報",
    },
    {
        href:"/contact",
        label:"お問合わせ",
    },
];
---

<div class="headerFlex">
    <a href="/">
        <img src="/logo.png" alt="ロゴ" width="300" >
    </a>
    <ul class="navFlex">
        {
            header.map((item)=>
            <li>
                <a href={item.href}>{item.label}</a>
            </li>
            )
        }
    </ul>
</div>
<Drawer client:load />


