---
const logoFlow =[
    {
        title:"ヒアリング",
        content:"ロゴマークは企業の「顔」とも言うべき重要な要素です。そのため、単にデザインをするのではなく、企業の理念やビジョン、創業からの歴史や経営者の方の想いなどを徹底的にヒアリングさせていただきます。",
    },
    {
        title:"アイデアフラッシュの作成",
        content:"ヒアリングでうかがったお話をもとに、デザインコンセプトを決定します。お客様が伝えたいメッセージをどのようにビジュアル化していくのか、いくつものイメージアイディアを作成し、ご提案いたします。そこからデザインを絞り込んでいき、カラーやディティールなどをつめていきます。",
    },
    {
        title:"納品",
        content:"絞り込まれたデザインについて検討を重ね、ロゴマークの最終的なデザインを決定します。ロゴマークは、完成後、ＷＥＢサイトや会社案内、名刺、広告、販促物などさまざまなメディアで運用できるようにルールを策定することも大切な工程の一つです。完成形のデザインイメージを損なわずに使用していくため、決定したルールについては仕様書を作成するなどしてマニュアル化し、統一が図れるようにしておきます。",
    },
    {
        title:"ロゴマークを使っての展開",
        content:"ロゴマークを刷新したら、名刺や会社案内、WEBサイトも刷新しなければなりません。当社では、ロゴマーク作成はもちろん、名刺や封筒、会社案内などの印刷物制作やWebサイト制作も承っています。また、商標・意匠登録も承っておりますのでお気軽にご相談ください。",
    },
]
---
<div class="logoFlow">
    {logoFlow.map((item)=>
    <div class="logoFlowItem">
        <div class="logoFlowItemContents">
            <h3>{item.title}</h3>
            <p>{item.content}</p>
        </div>
    </div>
    )
}
</div>